html {
  height: 100%;
  width: 100%;
}
h1{
  text-align: center;
  font-family: "Playfair Display", serif;
}
p{
  text-align: center;
  font-family: "Playfair Display", serif;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img{
  width:20%;
  height:20%;
}
body{
  background-color: peachpuff;
}

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}